
<div class="shop-cart-modal">

<a  class="redball mod mod-dialog" ng-hide="showFinalConfirmationBtn || hideCheckoutBtn"></a>


<div>
    <div ng-if="!saveError">
        <h3>Save this shopping cart ?</h3>

        <div class="deleteCart">
            <h4>
                The shopping cart ID {{params.orderId}} will be saved for further use.x
                You may use the following fields to save additional information along with
                it. These are
                optional.
            </h4>
        </div>
        <div class="formContainer content">
            <div class="col w-40 nop-l">
                <ops-textbox
                    type="text"
                    inner-id="contactInfo"
                    ng-model="vm.contactInfo"
                    label="Contact informtaion">
                </ops-textbox>
            </div>

            <div class="col w-40">
                <ops-textbox
                    type="text"
                    inner-id="callbackDate"
                    ng-model="vm.callbackDate"
                    label="Callback date">
                </ops-textbox>

            </div>
            <div class="clear"></div>

            <div class="col w-100 nop-l">
                    <ops-textarea
                        inner-id="save-message"
                        ng-model="vm.saveMessage"
                        label="Nachricht">
                    </ops-textarea>
            </div>


            <div class="col w-40 nop-l">
                <ops-btn class="btn-st btn-st1" ng-click="vm.cancel()">Cancel</ops-btn>
            </div>

            <div class="col w-20">&nbsp;</div>

            <div class="col w-40">
                <ops-btn class="btn-st btn-st2 fr" ng-click="vm.save()">Save shopping cart</ops-btn>
            </div>

        </div>
    </div>
    <!--start error in saving-->
    <div ng-show="saveError">
        <h3>There was an error with the server when trying to create the contract
            documents:</h3>
        <div class="notification-st notification-st1">
            <i class="ico ico-size-32 ico-color-8 ico-txt ico-txt-color-2 ico-info mr-20">i</i>
            <p>
                The server error message is displayed here. It may be a big lorem ipsum or
                something
                similar,
                i should go to google now and paste lorem ipsum but i think typing random
                words in here
                is a bit
                easier and faster actually. It is pretty cold here in germany and it is also
                raining,
                so foggy this morning also, but hey Xmas time is coming and we can go to the
                christmas
                market
                and drink hot wine, at least it is something woohoo, I am almost done with
                this text ,
                hopefully it ends soon.
            </p>
        </div>


        <div class="col w-30">&nbsp;</div>
        <div class="col w-40"><ops-btn ng-click="vm.cancel()" class="btn-st btn-st2">Return to Summary</ops-btn></div>
        <div class="col w-30">&nbsp;</div>
    </div>
    <!--end error in saving-->

</div>
</div>

