<form name="loginForm" ng-submit="vm.submit()" autocomplete="off" role="form" novalidate>
    <div class="headerContainer">
        <h2>OnePOS</h2>
    </div>
    <div class="messageContainer" ng-show="!vm.errorData" ng-if="!vm.errorMessage && !vm.successMessage">Geben Sie bitte
        Ihre Zugangsdaten ein.
    </div>
    <div class="messageContainer color-red" ng-show="vm.errorMessage" error-data>{{vm.errorMessage}}</div>
    <div class="messageContainer color-green" ng-if="vm.successMessage">{{vm.successMessage}}</div>
    <div class="bodyContainer">
        <ops-textbox
            class="puid-data"
            type="text"
            inner-id="pu-id"
            ng-model="vm.credentials.puid"
            label="Benutzername"
            ng-required="true"
            ng-minlength="vm.puid_minimumLength"
            auto-focus="true">
        </ops-textbox>

        <ops-textbox
            class="password-data"
            type="password"
            inner-id="password"
            ng-model="vm.credentials.password"
            label="Passwort"
            ng-required="true"
            ng-minlength="vm.password_minimumLength"
            ng-maxlength="vm.password_maximumLength">
        </ops-textbox>
        <captcha-image ng-if="vm.showCaptcha" ng-model="vm.credentials.captchaText"></captcha-image>
    </div>
    <div class="footerContainer">
        <div class="grid">
            <div class="col w-50">
                <a href="#" ui-sref="login.passwordForgot">Passwort vergessen</a>
            </div>
            <div class="col w-50">
                <button type="submit" class="btn-st btn-st2"
                        ng-disabled="loginForm.$invalid">Einloggen
                </button>
            </div>
        </div>
    </div>
</form>
