<form name="loginForm" ng-submit="vm.submit()" role="form" autocomplete="off" novalidate>
    <div class="headerContainer">
        <h2>OnePOS</h2>
    </div>
    <div class="messageContainer" ng-if="!vm.errorMessage && !vm.warnMessage && !vm.lightMessage">Füllen Sie bitte die
        Felder aus, um ein neues Passwort festzulegen.
    </div>
    <div class="messageContainer color-red" ng-show="vm.errorMessage" error-data>
        <span ng-hide="vm.hideDefaultError">{{err.text}}</span>
        <span ng-show="vm.hideDefaultError">{{vm.errorMessage}}</span>
    </div>
    <div class="messageContainer color-orange" ng-if="vm.warnMessage && !vm.showMatchPasswordError">{{vm.warnMessage}}
    </div>
    <div class="messageContainer color-red" ng-if="vm.showMatchPasswordError">Diese Passwörter stimmen nicht überein.
        Versuch es noch einmal?
    </div>
    <div class="messageContainer color-green"
         ng-if="vm.lightMessage && !vm.errorMessage && !vm.warnMessage && !vm.showMatchPasswordError">
        {{vm.lightMessage}}
    </div>


    <div class="bodyContainer">
        <!--<div class="fm-data newPassword-data">
            <input id="NeuesPasswort" name="NeuesPasswort" type="password"
                   placeholder="Neues Passwort"
                   ng-model="vm.credentials.newPassword"
                   required
                   ng-minlength="vm.password_minimumLength"
                   ng-maxlength="vm.password_maximumLength" auto-focus />
            <label for="NeuesPasswort">Neues Passwort</label>
        </div>-->
        <ops-textbox
            type="password"
            inner-id="NeuesPasswort"
            ng-model="vm.credentials.newPassword"
            label="Neues Passwort"
            ng-required="true"
            ng-minlength="vm.password_minimumLength"
            ng-maxlength="vm.password_maximumLength"
            auto-focus="true">
        </ops-textbox>

        <ops-textbox
            class="confirmPassword-data"
            type="password"
            inner-id="WiederholungPasswort"
            ng-model="vm.credentials.matchPassword"
            label="Neues Passwort (Wiederholung)"
            ng-required="true"
            ng-minlength="vm.password_minimumLength"
            ng-maxlength="vm.password_maximumLength">
        </ops-textbox>

        <ops-textbox
            class=""tan-data
            type="text"
            inner-id="tan"
            ng-model="vm.credentials.mtan"
            label="TAN"
            ng-required="true"
            ng-minlength="vm.tan_minimumLength"
            ng-maxlength="vm.tan_maximumLength">
        </ops-textbox>

    </div>
    <div class="footerContainer">
        <div class="grid">
            <div class="col w-50">
                <button type="reset" class="btn-st btn-st1"
                        ng-click="vm.backLogin()">Abbrechen
                </button>
            </div>
            <div class="col w-50">
                <button type="submit" class="btn-st btn-st2"
                        ng-disabled="loginForm.$invalid">Weiter
                </button>
            </div>
        </div>
    </div>
</form>
