/* ==========================================================================
Backgrounds
========================================================================== */
// gradinat
.bg-st1{
    background-image: -webkit-radial-gradient(0% 99%, #EEEEEE 0%, #ECECEC 17%, #CBBBBE 41%, #D8BAB6 50%, #E9DACE 60%, #F4EEDE 77%, #F5EFDF 100%, #D8D8D8 100%);
    background-image: -ms-radial-gradient(0% 99%, #EEEEEE 0%, #ECECEC 17%, #CBBBBE 41%, #D8BAB6 50%, #E9DACE 60%, #F4EEDE 77%, #F5EFDF 100%, #D8D8D8 100%);
    background-image: -moz-radial-gradient(0% 99%, #EEEEEE 0%, #ECECEC 17%, #CBBBBE 41%, #D8BAB6 50%, #E9DACE 60%, #F4EEDE 77%, #F5EFDF 100%, #D8D8D8 100%);
}
